/* Created by: Ain Jeong
* Created on: Feb 2025
* This file contains the CSS for index.html
*/
body{
  background-color: white;
  color: rgb(63 43 43);
  padding: 40px;
}

h1{
  background-color: rgb(102 194 183);
  color: white;
  text-align: center;
  border: solid thick;
  border-color: rgb(23 96 87);
}

img{
  border: solid thick;
  border-color: rgb(23 96 87);
}

h2{
  background-color: rgb(102 194 183);
  color: white;
  border: solid thin;
  border-color: rgb(23 96 87);
}

p{
  background-color: rgb(227 241 239);
  padding: 10px;
}

h3 {
  background-color: rgb(231 247 245);
  color: rgb(98 171 163);
}